.selectBox {
    position: relative;
}
.multiselect label{
    padding-left: 20px;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes {
    display: none;
    border: 1px #dadada solid;
}
#checkboxes label {
    display: block;
}
#checkboxes label:hover {
    background-color: #1e90ff;
}
#groupassess #conf{ padding-bottom: 10px; }
#groupassess #conf #roundconf, #groupassess #conf #roundint, #groupassess #conf #roundava {
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    text-align: center; font-size: 18px; font-style: bold;
    background-color: #D6D6D6; color: black; width: 30px; height: 30px;
}
#groupassess #conf #roundconf { margin-left: 23px; }
#groupassess #conf #roundint { margin-left: 26px; }
#groupassess #conf #roundava { margin-left: 30px; }

.panel-left {
	width: 250px;
	/*border-right: 5px #722F37 solid;*/
	float: left;
	height: 500px;
}

.active-owner:hover {
	background-color: #D6D6D6;
	border-left-color: red;
}

.panel-left .panel-view {
	padding-left: 10px;
}

.panel-view #manage{
	margin-top: 5px;
}

.panel #form-new-user, .panel-view #manage #form-delete {
	display: none;
	width: 380px;
	padding: 20px;
	background-color: #D6D6D6;
}

.panel-view #manage #form-delete .ass-delete-list {
	padding-left: 10px;
	padding-right: 10px;
}
.panel-view #usermanagement, .panel-view #addasset, .panel-view #deleteasset {
	border: 2px solid #722F37;
	width: 55px;
	height: 55px;
	-webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.panel-view form #v {
	padding-left: 5px; 
	margin-left: 5px;
	width: 113px;
}

.panel form input, #form-new-user select {
	width: 220px; height: 25px; font-style: italic; padding-left: 20px;
}

#form-new-user input, #form-new-user select {
	width: 220px; height: 30px; font-style: italic; padding-left: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*#form-new-user .on  { background:blue; }

#form-new-user .off { background:red; }
*/
